__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
network_devices_inventory.db
.env
.venv/
venv/
env/
.vscode/
.idea/
.DS_Store
*.log
pip-wheel-metadata/
coverage/
dist/
build/
__pycache__

# Byte-compiled / optimized / DLL files
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore node modules if any
node_modules/

#ignore local development file
sql.py
